{% extends "base.html" %}

{% block page-header %}Device List{% end %}
{% block page-header-subtext %}See devices with status information{% end %}

{% block content %}
{% if message %}
<p class="text-center text-{{ message["type"] }}" role="alert">
  <strong>{{ message["text"] }}</strong>
</p>
{% end %}

<div class="col-xs-12">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Device Name</th>
        <th>Address</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for i, device in enumerate(devices) %}
      <tr>
        <th scope="row">{{ i+1 }}</th>
        <td><a href="/device/{{ device["name"] }}/update/">{{ device["name"] }}</a></td>
        <td>{{ device["address"] }}</td>
        <td>Not connected.</td>
      </tr>
      {% end %}
    </tbody>
  </table>
</div>
{% end %}
